html,
body {
  height: 100%;
}

.y-wrap {
  display: flex;
  flex-direction: column;
  min-height:96vh;
  /* flex: 1 0 auto; */
}

header {
  background-color: cornflowerblue;
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: cornflowerblue;
  flex-shrink: 0;
}


.modal {
  background-color: cornsilk;
  border: 1px dashed red;
  left: 50%;
  padding: 40px 0;
  position: absolute;
  width: 40%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
